<% provide(:title, "出勤中社員一覧") %>
<div>
  <h1>拠点一覧</h1>
  <table class="table table-bordered table-condensed table-hover" id="table-attendances">
    <thead>
      <tr>
        <th></th>
        <th></th>
        <th>拠点番号</th>
        <th>拠点名</th>
        <th>勤怠種類</th>
        
      </tr>
    </thead>
    <tbody>
      <% @bases.each do |base| %>
      <tr>
        <td><%= link_to "修正", edit_basis_path(base), class: "btn btn-primary btn-left" %></td>
        <td><%= link_to "削除", basis_path(base), method: :delete, class: "btn btn-primary btn-left" %></td>
        <td><%= base.base_number %></td>
        <td><%= base.base_name %></td>
        <td><%= base.attendance_type %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <tr>
    <div>
      <!--背景色を灰色にしたい　質問する-->
      <%= link_to "拠点情報追加", new_basis_path, class: "btn btn-bg-secondary btn-primary" %>
    </div>
  </tr>
</div>