<% provide(:title, @user.name) %>
<h1>【残業申請】</h1>
  <%= form_with(model: @user, url: attendances_update_overtime_user_path, local: true, method: :patch) do |f| %>
    <table class="table table-bordered table-condensed table-hover">
      <thead>
        <tr>
          <th>日付</th>
          <th>曜日</th>
          <th>終了予定時間</th>
          <th>翌日</th>
          <th>業務処理内容</th>
          <th>指示者確認</th>
        </tr>
      </thead>
      
      <tbody>
        <% @attendances.each do |day| %>
          <% 
            css_class = 
            case %w{日 月 火 水 木 金 土}[day.worked_on.wday]
            when '土'
              'text-primary'
            when '日'
              'text-danger'
            end 
          %>
          <%= f.fields_for "attendances[]",day do |attendance| %>
            <%= attendance.hidden_field :overtime_request_status, value: "申請中" %>
            <tr>
              <td><%= l(@attendance.worked_on, format: :short, class: 'hizuke') %></td>
              <td><%= $days_of_the_week[day.worked_on.wday] %></td>
              <td><%= attendance.time_field :scheduled_end_time, class: "form-control" %></td>
              <td><%= attendance.check_box :overnight, id: "overnight" %></td>
              <td><%= attendance.text_field :business_processing, class: "form-control" %></td>
              <!--selectを使ってる。最終的にはcllection_selectに作り変えたい-->
              <td>
                <%= 
                  attendance.select :overtime_boss, 
                 {'上長A': 1, '上長B': 2},
                  { include_blank: true },
                  { class: 'form-control' , required: true }
                %> 
              </td>
            </tr>
            <% end %>
          <% end %>
      </tbody>
    </table>
    <div class="center">
      <%= f.submit "変更を送信する", class:"btn btn-lg btn-block btn-primary" %>
    </div>
  <% end %>
  